<div class="container">

        <h2 class="md-title" sytle="color:black;">{{servicioId.titulo}}</h2>
        <p> {{servicioId.descripcion}}</p>
        <p> {{servicioId.precio}}</p>
        <p> {{servicioId.categoria}}</p>
        <p> {{servicioId.ofertaDemanda}}</p>
        <p> {{servicioId.usuario}}</p>
        <p> {{servicioId.color}}</p>
        <p> {{servicioId.categoria}}</p>

      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
  </md-content>
</div>
</div>