
  <div class="login-box">
    <div class="lb-header">
      <a href="#/login" class="active" id="login-box-link">Login</a>
      <a href="#/registrar" id="signup-box-link">Crear Cuenta</a>
    </div>
    <div class="social-login">
      <a href="/auth/google" >
        <i class="fa fa-google-plus fa-lg"></i>
        log in Google
      </a>
    </div>
    <form class="email-login">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button>Log in</button>
<!--       </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div> -->
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>