<br>
    <fieldset>
      <legend> Registarse </legend>
      </fieldset>



<div class="container">

<!--      <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">Registrarse con: </label>
        <div class="col-md-4" "col-xs-6" "col-xs-2">
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>        
        </div>
      </div> -->
   <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">Usuario <b>*</b></label>
        <div class="col-md-4" "col-xs-6" "col-xs-2">
          <input type="text" class="form-control" id="usuario" placeholder="Usuario" ng-model="usuario.usuario">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Email<b>*</b></label>
          <div class="col-md-4" "col-xs-6" "col-xs-2">
            <input type="email" class="form-control" id="email" placeholder="Correo electronico" ng-model="usuario.email">
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Password<b>*</b></label>
          <div class="col-md-4" "col-xs-6" "col-xs-2">
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="usuario.password">
          </div>
      </div>

            <div class="form-group">
        <label class="col-md-2 control-label">Repite la password<b>*</b></label>
          <div class="col-md-4" "col-xs-6" "col-xs-2">
            <input type="password" class="form-control" id="password1" placeholder="Repite la password" ng-model="usuario.password1">
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Nombre</label>
          <div class="col-md-4" "col-xs-6" "col-xs-2">
            <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre del Usuario" ng-model="usuario.nombre">
          </div>
      </div>

      <div class="form-group">    
        <label class="col-md-2 control-label">Apellidos</label>
          <div class="col-md-4" "col-xs-6" "col-xs-2">
            <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" ng-model="usuario.apellidos">
          </div>
      </div>

      <div class="form-group">    
        <label class="col-md-2 control-label">Direccion</label>
          <div class="col-md-4" "col-xs-6" "col-xs-2">
            <input type="text" class="form-control" id="direccion" placeholder="Dirección" ng-model="usuario.direccion">
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Codigo Postal <b>*</b></label>
          <div class="col-md-2" "col-xs-2">
            <input type="number" class="form-control" maxlength="6" id="codigoPostal" min="1" placeholder="Codigo Postal" ng-model="usuario.codigoPostal">
          </div>
      </div>


      <div class="form-group">
        <label class="col-md-2 control-label">Fecha de nacimiento</label>
          <div class="col-md-3" "col-xs-3">
            <input type="date" class="form-control" maxlength="10" id="fechaNacimiento" placeholder="Fecha de Nacimiento" ng-model="usuario.fechaNacimiento">
          </div>
      </div>


      <div class="form-group">
        <label class="col-md-2 control-label">Telefono</label>
          <div class="col-md-2" "col-xs-2">
            <input type="number" class="form-control" maxlength="10" id="contacto" min="11111111" placeholder="Contacto" ng-model="usuario.telefono">
          </div>
      </div>


<!-- style="text-align:right; --> 
  
      <div class="form-group">
      <label class="col-md-2 control-label">Condiciones y politica </label>
        <div class="checkbox">
            <label>
              <input type="checkbox"> He leido y acepto las condiciones
            </label>
        </div>

        <div class="col-lg-10" align="center">
          <p id="errorMessage"><span></span></p>
          <button type="reset" class="btn btn-default">Cancelar</button>
          <button id="submit" type="submit" class="btn btn-primary" ng-click="submit()">Regristrarse</button>
        </div>
      </div>
  </form>

</div> <!-- End of container -->